/* Animations */

/* 
EGENSKAPER:
background-color
transition              <-- muy importante!
color
transform
scale
width
height
animation

REGLER
keyframes (procent, from, to)
*/
.parent {




}



.parent:hover > .child {
    animation: movebox 3s infinite;

}

@keyframes movebox {
    
    0%{
        transform: translateX(0);
    }

    25% {
        transform: translateX(100%);
    }

    50%{
        transform: translateY(100%) translateX(100%);
    }

    75%{
        transform: translateY(100%) translateX(100%);
    }

    100%{
        transform: translateY(100%);
    }



}
    

























/* transform: translateX(0) translateY(0); */
